.intro-img {
  background-image: url('../media/bg1.jpg');
  background-color: '#000000';
}


body {
  color: #888;
  background-color: #fff;
}


.intro-title {
  color: #000;
  border-color: #FFF;
  text-shadow: -1px 0 1px #FFF;
}

.intro-description {
  color: #000;
}



#navigation {
  background-color: #fff;
}

.nav.navbar-nav {
  background-color: #fff;
}


a,a:hover {
	color: rgb(47, 55, 29);
}

.intro .page-scroll a {
        color: #aaaaaa;
	
}

.intro .page-scroll a:hover {
	color: rgb(47, 55, 29);
}

.icon:hover .fa{
	color: rgb(47, 55, 29);
}

ul.nav li a:hover {
	color: rgb(47, 55, 29);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: rgb(47, 55, 29);
}

.bg-skin {
	background: rgb(47, 55, 29);
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: rgb(47, 55, 29);
}

footer {
    background-color: rgb(47, 55, 29);
}

.btn-skin {
  color: #fff;
  background-color: rgb(47, 55, 29);
  border-color: rgb(47, 55, 29);
}

a .fa, a:hover .fa, a:active .fa, a:visited .fa {
  color: #888;
}

/* ==========================
Parallax
============================= */

#separator {	
	background-image: url(../media/parallax-bg.jpg);
}

#separator .icon {
	margin-bottom: 20px;
}

#separator span {
	color: #fff;
}

#separator:after {	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: -1;
}
